body {
	margin: 0;
	background: #4f6367;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.front {
	border: 5px black solid;
}

.container {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.buttom {
margin-top: 30px;
margin-left: 440px;
}

.btn {
padding: 100px;
float: left;
color: white;
text-decoration: none;
margin-right: 5px;
font-size: 25px;
text-transform: uppercase;
font-family: "Roboto", sans-serif;
}

/*----------------------------------------------- Eubastine Diamante ---------------------------------------*/
body {
	margin: 0;
	padding: 0;
}

.card {
	position: absolute;
	top: 70%;
	left: 20%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 400px;
	transform-style: preserve-3d;
	perspective: 600px;
	transition: 0.5s;
}

.card .front{
	position: absolute;
	top: 0;
	border: 5px black solid;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	transition: 0.5s;
}

.card:hover .front {
	transform: rotateX(-180deg);
}

.card .back{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	backface-visibility: hidden;
	transform: rotateX(180deg);
	transition: 0.5s;
}

.card:hover .back:before {
	content: '';
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
}


.card:hover .back {
	transform: rotateX(0deg);
}

.card .back .details {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0%;
	width: 100%;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

.card .back .details h2 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	color: #fff;
}

.card .back .details h2 span {
	color: #a7a7a7;
	font-size: 16px;
}

.social-icons {
	padding: 10px 0;
}

.social-icons a {
	display: inline-block;
	width: 36px;
	height: 36px;
	text-align: center;
	background: #919191;
	color: #fff;
	text-decoration: none;
	border-radius: 50%;
	transition: 0.5s;
}

.social-icons a .fa {
	line-height: 36px;
}

.social-icons a:hover {
	background: #e91e63;
}

/*-------------------------------------------------- Haeshen ----------------------------------------------------------*/

body {
	margin: 0;
	padding: 0;
}

.card2 {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 400px;
	transform-style: preserve-3d;
	perspective: 600px;
	transition: 0.5s;
}

.card2 .front2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	transition: 0.5s;
	border: 5px black solid;
}

.card2:hover .front2 {
	transform: rotateX(-180deg);
}

.card2 .back2{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	backface-visibility: hidden;
	transform: rotateX(180deg);
	transition: 0.5s;
}

.card2:hover .back2:before {
	content: '';
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
}


.card2:hover .back2 {
	transform: rotateX(0deg);
}

.card2 .back2 .details2 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0%;
	width: 100%;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

.card2 .back2 .details2 h2 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	color: #fff;
}

.card2 .back2 .details2 h2 span {
	color: #a7a7a7;
	font-size: 16px;
}

.social-icons {
	padding: 10px 0;
}

.social-icons a {
	display: inline-block;
	width: 36px;
	height: 36px;
	text-align: center;
	background: #919191;
	color: #fff;
	text-decoration: none;
	border-radius: 50%;
	transition: 0.5s;
}

.social-icons a .fa {
	line-height: 36px;
}

.social-icons a:hover {
	background: #e91e63;
}

/*----------------------------------------------- Daniella Evi -------------------------------------------------*/

.card3 {
	position: absolute;
	top: 70%;
	left: 80%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 400px;
	transform-style: preserve-3d;
	perspective: 600px;
	transition: 0.5s;
}

.card3 .front3{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	transition: 0.5s;
	border: 5px black solid;
}

.card3:hover .front3 {
	transform: rotateX(-180deg);
}

.card3 .back3{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	backface-visibility: hidden;
	transform: rotateX(180deg);
	transition: 0.5s;
}

.card3:hover .back3:before {
	content: '';
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
}


.card3:hover .back3 {
	transform: rotateX(0deg);
}

.card3 .back3 .details3 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0%;
	width: 100%;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

.card3 .back3 .details3 h2 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	color: #fff;
}

.card3 .back3 .details3 h2 span {
	color: #a7a7a7;
	font-size: 16px;
}

.social-icons {
	padding: 10px 0;
}

.social-icons a {
	display: inline-block;
	width: 36px;
	height: 36px;
	text-align: center;
	background: #919191;
	color: #fff;
	text-decoration: none;
	border-radius: 50%;
	transition: 0.5s;
}

.social-icons a .fa {
	line-height: 36px;
}

.social-icons a:hover {
	background: #e91e63;
}
